header {
	width: 100%;
	padding: 40px 10vw;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		a {
			font: 24px/1 'orbitron';
			color: #fff;
			letter-spacing: 1px;
		}
	}

	nav {
		display: flex;
		gap: 10vw;
		align-items: center;

		ul {
			display: flex;
			gap: 20px;

			&#gnb {
				a {
					font: 16px/1 'arial';
					color: #fff;
					opacity: 0.8;
					letter-spacing: 1px;
				}
			}

			&#sns {
				a {
					font-size: 18px;
					color: #fff;
					opacity: 0.5;
				}
			}
		}
	}
}
